<% provide(:title, "Help") %>

    <h1>StaticPages#help</h1>
    <p>
      get help on the ruby on rails tutorial
      <a href="http://www.railstutorial.org/#help">Rails tutorial help section</a>.
      to get help on this sample app, see the
      <a href="http://railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>.
    </p>
